<!-- vim: set ft=html -->
<link rel="stylesheet" href="/page.css"/>

<header>
    <a href="/">&lt; Home</a>
</header>

<style>
header {
    padding-top: 1rem;
    font-size: 2rem;
}

header a {
    text-decoration: none;
}
</style>
{{ rendered_body }}
