@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
    --base00: #191919;
    --base01: #202020;
    --base02: #303030;
    --base03: #5f5a60;
    --base04: #505050;
    --base05: #a7a7a7;
    --base06: #808080;
    --base07: #ffffff;
    --base08: #dc657d;
    --base09: #4bb1a7;
    --base0A: #c3ba63;
    --base0B: #84b97c;
    --base0C: #4bb1a7;
    --base0D: #639ee4;
    --base0E: #b888e2;
    --base0F: #b888e2;


	--outline-color: #fff3;
    
	--h1-color: var(--base0A);
	--h2-color: var(--base0C);
	--h3-color: var(--base0D);
	--h4-color: var(--base09);
	--h5-color: var(--base0E);
	--h6-color: var(--base0F);

    --text-color: lightgrey;

    --code-block-bg: var(--base01);
    --code-inline-bg: var(--base02);

    --bg-color: var(--base00);
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	max-width: 900px;
	margin: auto;
	font-family: 'Anonymous Pro';
}

main {
	min-height: 100vh;
}

footer {
	padding: 0 1rem;
	border-top: 2px solid var(--outline-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hljs {
	font-family: 'Anonymous Pro';
}

.katex-block {
	font-size: 1.4em;
}

math {
	font-size: 1.3em;
}

h1:before {
	content: '# ';
}

h1 {
	color: var(--h1-color);
	font-size: 3rem;
}

h2:before {
	content: '## ';
}

h2 {
	color: var(--h2-color);
	font-size: 2.4rem;
}

h3:before {
	content: '### ';
}

h3 {
	color: var(--h3-color);
	font-size: 2.1rem;
}

h4:before {
	content: '#### ';
}

h4 {
	color: var(--h4-color);
	font-size: 1.7rem;
}

h5:before {
	content: '##### ';
}

h5 {
	color: var(--h5-color);
	font-size: 1.5rem;
}

h6:before {
	content: '###### ';
}

h6 {
	color: var(--h6-color);
	font-size: 1.3rem;
}

p {
	font-size: 1.2em;
}

blockquote {
	border-left: 4px solid #fff3;
	margin-left: 0;
	padding-left: 1rem;
}

ul {
	list-style: none;
}

ul,
ol {
	line-height: 1.5em;
}

ul li:before {
	content: '- ';
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 2px solid var(--outline-color);
	padding: 1rem;
}

table tr:nth-child(even) {
    background-color: #ffffff0a;
}

th {
	font-weight: bolder;
	font-size: 1.2em;
	background-color: #fff1;
}

code, kbd {
	background-color: #fff1;
	padding: .1rem .5rem;
    border-radius: 5px;
}

code.hljs {
	border-radius: 5px;
    background-color: var(--code-block-bg);
}

a {
	color: var(--h2-color);
	text-decoration: underline dotted;
}

a.header {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline solid 1px;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

@media screen and (max-width: 900px) {
	body {
		max-width: 100vw;
		margin: none;
	}
	code.hljs {
		width: 100vw;
	}
}
